        * {
            box-sizing: border-box;
            font-family: 'Libre Franklin', sans-serif;
        }
        
        body {
            position: relative;
            margin: 0;
            padding: 0;
        }
        
        p,
        h2,
        h3,
        h4,
        h5 {
            margin: 0;
        }
        /* navbar style */
        
        .nav {
            background-color: #fff;
            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
            position: fixed;
            width: 100%;
            z-index: 3;
            top: 0px;
            left: 0px;
            height: 88px;
        }
        
        .d-flex {
            display: flex;
        }
        
        .col-1 {
            padding-left: 6rem;
        }
        
        .txt-center {
            text-align: center;
        }
        
        .txt-left {
            text-align: left !important;
        }
        /* navigation bar */
        
        .nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            background-color: #fff;
        }
        
        .nav li a {
            display: block;
            padding: 20px 20px;
            text-decoration: none;
        }
        
        .nav li a:hover,
        .nav .menu-btn:hover {
            background-color: #f4f4f4;
        }
        
        .logo {
            display: block;
            float: left;
            text-decoration: none;
        }
        /* menu */
        
        .nav .menu {
            clear: both;
            max-height: 0;
            transition: max-height .2s ease-out;
        }
        
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* menu icon */
        
        .nav .menu-icon {
            cursor: pointer;
            display: inline-block;
            float: right;
            padding: 28px 20px;
            position: relative;
            user-select: none;
        }
        
        .nav .menu-icon .navicon {
            background: #939da5;
            display: block;
            height: 2px;
            position: relative;
            transition: background .2s ease-out;
            width: 18px;
        }
        
        .nav .menu-icon .navicon:before,
        .nav .menu-icon .navicon:after {
            background: #939da5;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
        }
        
        .nav .menu-icon .navicon:before {
            top: 5px;
        }
        
        .nav .menu-icon .navicon:after {
            top: -5px;
        }
        /* menu btn */
        
        .nav .menu-btn {
            display: none;
        }
        
        .nav .menu-btn:checked~.menu {
            max-height: 240px;
        }
        
        .nav .menu-btn:checked~.menu-icon .navicon {
            background: transparent;
        }
        
        .nav .menu-btn:checked~.menu-icon .navicon:before {
            transform: rotate(-45deg);
        }
        
        .nav .menu-btn:checked~.menu-icon .navicon:after {
            transform: rotate(45deg);
        }
        
        .nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
        .nav .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
            top: 0;
        }
        
        @media (min-width:1128px) {
            .nav li {
                float: left;
            }
            .nav li a {
                padding: 20px 30px;
            }
            .nav .menu {
                clear: none;
                float: right;
                max-height: none;
                height: 88px;
            }
            .nav .menu-icon {
                display: none;
            }
        }
        /* main banner */
        
        .main-banner_container {
            background: url(../img/main-banner.png);
            background-repeat: no-repeat;
            background-position: center;
            height: 853px;
            position: relative;
            background-size: cover;
        }
        
        .main-banner_txt-container {
            position: absolute;
            top: 30%;
            width: 100%;
        }
        
        .main-banner_txt1 {
            font-size: 48px;
            font-weight: 500;
            text-align: left;
            line-height: 1.4;
            margin: 0;
            color: #fff;
        }
        
        .main-banner_txt2 {
            font-size: 48px;
            font-weight: 700;
            text-align: left;
            line-height: 1.4;
            margin: 0;
            color: #fff;
        }
        
        .main-banner_subtext {
            font-size: 20px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
        }
        
        .main-banner_amt {
            font-size: 20px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
        }
        
        .main-banner_distance-txt {
            font-size: 16px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #FFD45E;
            margin: 0px 10px;
        }
        
        .main-banner_distance-txt1 {
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.8;
            letter-spacing: normal;
            text-align: left;
            color: #FFD45E;
            margin: 0px 10px;
        }
        
        .emi-bg {
            background: url(../img/main-banner-subbg.png);
            width: 347px;
            height: 283px;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            bottom: 54px;
            right: 12%;
        }
        
        .emi-container {
            margin-top: 2rem;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        
        .btn-mt {
            margin-top: 2rem;
        }
        
        .btn-enquiry {
            width: 150px;
            height: 50px;
            background-color: #F47921;
            color: #fff;
            border-radius: 25px;
            border: none;
        }
        
        .emi-txt {
            font-size: 30px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #fff;
            text-shadow: #3A1D07 0px 3px 10px;
            position: absolute;
            top: 44%;
            left: 29%;
        }
        
        .month-txt {
            font-size: 23px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            position: absolute;
            top: 57%;
            left: 29%;
        }
        
        .month-txt span {
            font-weight: bold;
        }
        
        .scroll-icon-bg {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 12%;
            margin-top: 4%;
        }
        
        .scroll-icon-v {
            color: #fff;
            font-size: 12px;
            display: block;
            text-align: center;
        }
        
        .scroll-icon {
            color: #fff;
            font-size: 6px;
            display: block;
            text-align: center;
            margin-top: 1px;
        }
        
        .scroll-txt {
            font-size: 12px;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            color: #ffffff;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
        }
        /* Home planning css */
        
        .home-plannning_bg {
            background-image: url(../img/planning-bg.png);
            background-repeat: no-repeat;
            /* background-size: 100%; */
            height: 1436px;
            position: relative;
            background-size: cover;
        }
        
        .overview-txt {
            font-size: 14px;
            color: #fff;
            line-height: normal;
            text-transform: uppercase;
        }
        
        .txt-mt {
            padding-top: 72px;
        }
        
        .section_heading {
            font-size: 36px;
            font-stretch: normal;
            font-style: normal;
            line-height: 48px;
            color: #fff;
            text-transform: capitalize;
            font-weight: 500;
        }
        
        .planning-txt {
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            line-height: 25px;
            letter-spacing: normal;
            color: #fff;
            text-align: center;
            padding: 25px 20%;
        }
        
        .feature-txt {
            font-size: 24px;
            font-weight: normal;
            line-height: 48px;
            text-align: center;
            color: #FFD45E;
        }
        
        .btn-download {
            display: flex;
            justify-content: center;
            position: relative;
            top: -204px;
        }
        
        .btn-dwnload {
            width: 209px;
            height: 50px;
            background-color: #F47921;
            color: #fff;
            border-radius: 25px;
            border: none;
            font-size: 14px;
            line-height: 17px;
        }
        
        .amentites_txt {
            font-size: 14px;
            text-align: left;
            line-height: 17px;
        }
        
        .amentites_bg {
            background-image: linear-gradient(#F8F8F1, #F9F9E5);
            position: relative;
            height: 900px;
        }
        
        .amentites_mt {
            padding-top: 78px;
        }
        
        .txt-blk {
            color: #3C464D;
        }
        
        .w-50 {
            width: 50%;
        }
        
        .desc_txt {
            font-size: 16px;
            color: #6F7E88;
            line-height: 25px;
            text-align: left;
        }
        /* Specification banner */
        
        .specification_bg {
            background-image: url(../img/specification-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 618px;
        }
        
        .specification-txt_container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }
        /* cards */
        
        .card-bg {
            background-image: linear-gradient(#F8F8F1, #F9F9E5);
            height: 618px;
        }
        
        .cards-container-upper {
            justify-content: space-around;
            position: relative;
            top: -100px;
        }
        
        .cards-container {
            /* margin-top: 20px; */
            justify-content: space-around;
            /* position: absolute; */
            position: relative;
            top: -50px;
        }
        
        .card {
            border-radius: 12px;
            box-shadow: 0px 3px 10px #00000029;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .specification_card {
            width: 366px;
            height: 301.56px;
            border-radius: 12px;
            background-color: #fff;
            text-align: center;
            padding: 45px 25px;
        }
        
        .specification_card.active img {
            background-color: #fff;
            border-radius: 50%;
            height: 88px;
            width: 88px;
            padding: 11px;
        }
        
        .specification_card img {
            background-color: #3A1D07;
            border-radius: 50%;
            height: 88px;
            width: 88px;
            padding: 11px;
        }
        
        .card .active {
            color: #fff;
            background-color: #3A1D07;
        }
        
        .spec_img-circle {
            background-color: #3A1D07;
            border-radius: 50%;
            width: 88px;
            height: 88px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .spec_img {
            fill: #fff;
            width: 42.76px;
            height: 56.03px;
            margin-top: 14px;
        }
        
        .card-header {
            font-size: 20px;
            font-weight: bold;
            line-height: 24px;
            text-align: center;
        }
        
        .card-desc {
            font-size: 16px;
            font-weight: normal;
            line-height: 25px;
            text-align: center;
        }
        
        .card-content {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        /* Flooring css starts */
        
        .flooring-bg {
            background-image: url(../img/flooring-bg.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 384px;
        }
        
        .floor-container {
            text-align: center;
            padding-top: 74px;
        }
        /* maps */
        
        .map-container {
            width: 100%;
            height: 289px;
            position: relative;
        }
        
        .btn-directn {
            position: absolute;
            right: 38px;
            bottom: -36px;
        }
        /* about us */
        
        .aboutus-bg {
            background-image: url(../img/about-us.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 668px;
            position: relative;
        }
        
        .about-mt {
            margin-top: 30px;
        }
        /* footer */
        
        .footer-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 94px;
            margin: 0px 5%;
        }
        
        .footer-bg {
            background-color: #2E383E;
            height: 94px;
        }
        
        .footer_txt {
            font-size: 16px;
            color: #DFDFDF;
            line-height: 25px;
        }
        /* slider Amenities starts */
        
        .slider-menu {
            box-shadow: 0px 3px 6px #00000029;
            border-radius: 37px;
            white-space: nowrap;
            background-color: #ffffff;
            color: #3C464D;
            width: 254px;
            height: 48px;
            justify-content: start;
            align-items: center;
        }
        
        .tabs {
            display: flex;
            justify-content: center;
            align-items: center;
            /* position: relative; */
        }
        
        .tabs nav {
            display: block;
            flex-wrap: wrap;
            align-items: stretch;
            margin-left: 1%;
        }
        
        .tabs nav a {
            padding: 20px 0px;
            text-align: center;
            cursor: pointer;
            text-decoration: none;
            margin: 20px;
            background-color: #ffffff;
            color: #3C464D;
        }
        
        .tabs nav .slider-menu img {
            margin-left: 20px;
            margin-right: 20px;
        }
        
        .tabs nav a.selected .slider-menu {
            background-color: #4A2E18;
            color: #fff;
        }
        
        .tabs .content {
            padding: 20px 0px;
            width: 0px;
            height: 100%;
            overflow: hidden;
            opacity: 0;
            transition: opacity 0.1s linear 0s;
            display: flex;
            justify-content: center;
        }
        
        .tabs .content.visible {
            padding: 20px;
            width: 100%;
            opacity: 1;
        }
        
        .tabs .content p {
            padding-bottom: 2px;
        }
        
        .tabs .content p:last-of-type {
            padding-bottom: 0px;
        }
        
        .up-icon {
            color: #F47921;
            font-size: 25px;
            line-height: 4;
        }
        
        .down-icon {
            color: #F47921;
            font-size: 25px;
            line-height: 4;
        }
        
        .arrow-container {
            margin-left: 6%;
            /* line-height: 8; */
        }
        
        .pagination-amenitites {
            font-size: 18px;
            color: rgb(168, 167, 167);
            font-style: italic;
            white-space: nowrap;
        }
        /* circular slider starts */
        
        .key {
            background-color: #3A1D07;
        }
        
        .key-1 {
            background-image: url(../img/key1.svg);
        }
        
        .key-1:hover {
            fill: #F47921;
        }
        
        .key-2 {
            background-image: url(../img/key2.svg);
        }
        
        .key-3 {
            background-image: url(../img/key3.svg);
        }
        
        .key-4 {
            background-image: url(../img/key4.svg);
        }
        
        .key-5 {
            background-image: url(../img/key5.svg);
        }
        
        .key-6 {
            background-image: url(../img/key6.svg);
        }
        
        .key-7 {
            background-image: url(../img/key7.svg);
        }
        
        ul.tabkey {
            margin: 0px;
            padding: 0px;
            list-style: none;
            /* margin: 40%; */
        }
        
        ul.tabkey li {
            background: #fff;
            color: #222;
            display: inline-block;
            /* padding: 10px 15px; */
            cursor: pointer;
            border-radius: 50%;
            margin: 10px 20px;
        }
        
        ul.tabkey li.current {
            background: #3A1D07;
            color: #ffff;
            border-radius: 50%;
        }
        
        ul.tabkey li img {
            width: 37px;
            height: 61px;
        }
        
        .tab-content {
            display: none;
            /* padding: 15px; */
            text-align: center;
            color: #fff;
        }
        
        .tab-content.current {
            display: inherit;
            position: block;
            height: 90px;
            width: 180px;
            border-radius: 90px 90px 0 0;
        }
        
        #sidebar-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .circle-big {
            /* background-image: url(../img/Path\ 21482.svg); */
            /* position: relative; */
            height: 617px;
            width: 19px;
            padding: 21px;
            border-radius: 50% 50%;
            margin: 100px;
            text-align: center;
        }
        
        .circle {
            border-radius: 50%;
            width: 69px;
            height: 69px;
            display: block;
            position: absolute;
            overflow: hidden;
            top: 44%;
            left: 50%;
            margin: -15px !important;
            background-image: url(../img/cure2\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        
        .one {
            transform: rotate(0deg) translate(250px);
        }
        
        .two {
            transform: rotate(-25deg) translate(250px);
        }
        
        .three {
            transform: rotate(-50deg) translate(250px);
        }
        
        .four {
            transform: rotate(-85deg) translate(250px);
        }
        
        .five {
            transform: rotate(-121deg) translate(250px);
        }
        
        .six {
            transform: rotate(-154deg) translate(250px);
        }
        
        .seven {
            transform: rotate(-180deg) translate(250px);
        }
        
        .tabContent {
            /* display: flex;
            justify-content: center;
            align-items: center; */
            display: block;
            /* width: 100%; */
            text-align: center;
        }
        
        .pre-keyarrow {
            font-size: 29px;
            color: #fff;
            padding: 25px;
        }
        
        .tab-bg {
            background-image: url(../img/cure2\ \(1\).svg);
            background-repeat: no-repeat;
            background-size: 100%;
        }
        /* cssfor location */
        /* location starts */
        
        .location-bg {
            background-image: url(../img/location/1.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 626px;
            position: relative;
        }
        
        .bg-2 {
            background-color: rgba(0, 0, 0, .5);
            background-repeat: no-repeat;
            background-size: cover;
            height: 626px;
        }
        
        .owl-carousel-parent {
            width: 100%;
            padding-top: 47px;
            position: absolute;
            top: 60px;
            height: 626px;
        }
        
        .owl-item,
        .item {
            position: relative;
            -webkit-transition: all .4s;
            -moz-transition: all .4s;
            transition: all .4s;
        }
        
        .center .item {
            /* width: 300px;
            height: 300px; */
            transform: scale(8);
            border: none;
            border-radius: 50%;
            position: relative !important;
            right: 0px;
            left: 0px;
            top: 0px;
        }
        
        .item img {
            border-radius: 50%;
        }
        /* set z index */
        
        .owl-item.active.center {
            z-index: 5;
        }
        
        .owl-item.active.right,
        .owl-item.active.left {
            z-index: 4;
        }
        
        .item span {
            display: none;
        }
        
        .item span {
            position: absolute;
            bottom: 46px;
            left: 351px;
            width: 60%;
            color: #f47921;
            font-size: 16px;
            text-align: left;
        }
        
        .center .item span {
            display: block;
        }
        
        .owl-carousel {
            /* background-image: url(../img/location/line.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; */
        }
        
        .key1 {
            background-image: url(../img/location/1.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 10px auto;
        }
        
        .key2 {
            background-image: url(../img/location/2.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 30px auto;
        }
        
        .key3 {
            background-image: url(../img/location/3.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 50px auto;
        }
        
        .key4 {
            background-image: url(../img/location/4.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 100px auto;
        }
        
        .key5 {
            background-image: url(../img/location/5.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 40px auto;
        }
        
        .key6 {
            background-image: url(../img/location/6.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: block;
            text-align: center;
            margin-top: 90px;
            width: 42px;
            height: 42px;
            border: 1px solid #F47921;
            border-radius: 50%;
            padding: 3px;
            margin: 10px auto;
        }
        
        .location-flex {
            display: flex;
            justify-content: space-between;
            padding: 2rem;
        }
        
        .arrow_location {
            display: flex;
        }
        
        .w-50 {
            width: 50%;
        }
        
        .location-leftarrow {
            margin: 10px;
            height: 30px;
            width: 30px;
        }
        
        .location-rightarrow {
            margin: 10px;
            height: 30px;
            width: 30px;
        }
        
        .location-subheading {
            font-size: 16px;
            font-stretch: normal;
            font-style: normal;
            line-height: 25px;
            letter-spacing: normal;
            color: #fff;
            text-align: left;
        }
        
        .owl-carousel {
            position: relative;
        }
        
        .owl-stage {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 626px;
        }
        
        .positioncircle-one {
            /* position: absolute;
            top: -60px;
            left: 0;
            right: 0; */
        }
        
        .owl-carousel .owl-stage-outer {
            overflow-x: hidden;
        }
        
        .positioncircle-one {
            position: absolute;
            top: -20px;
            right: 0;
            left: 0;
        }
        
        .positioncircle-two {
            position: absolute;
            top: -116px;
            right: 0;
            left: 0;
        }
        
        .positioncircle-three {
            position: absolute;
            top: -80px;
            right: 0;
            left: 0;
        }
        
        .positioncircle-four {
            position: absolute;
            top: -120px;
            right: 0;
            left: 0;
        }
        
        .positioncircle-five {
            position: absolute;
            top: 55px;
            right: 0;
            left: 0;
        }
        
        .positioncircle-six {
            position: absolute;
            top: -80px;
            right: 0;
            left: 0;
        }
        
        .center [class^="positioncircle"] {
            position: relative;
            top: 0px !important;
        }